.dashContainer{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin: 0;
}

.dashItem1Level {
    position: relative;
    background-color: #fff;
    /*min-height: calc(306px + 1.5rem);*/
    /*height: 100%;*/
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dashItemTitle{
    font-size: 15px;
    border-bottom: 1px solid #eff0f2;
    min-height: 50px;
    margin: 0 16px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 1rem;
    font-weight: bold;
}

.dashItemContent {

    padding: 0 1.5rem;
    overflow: hidden;
    height: 300px;
}

.dashItemContent2 {

    padding: 0 1.5rem;
    overflow: hidden;
    height: 300px;
    width: 700px;
}

.dashItemContent3 {

    padding: 0 1.5rem;
    overflow: hidden;
    height: 300px;
    width: 350px;
}